<h1>new</h1>

<form class="" action="/books" method="POST">
  <input type="text" name="book[title]" placeholder="Title">
  <input type="text" name="book[author]" placeholder="Author">
  <input type="date" name="book[published]" placeholder="Published date">
  <input type="text" name="book[rating]" placeholder="Rating">
  <input type="text" name="book[review]" placeholder="Review">
  <input type="text" name="book[image]" placeholder="Image URL">
  <input type="submit">
</form>

<h1>New page</h1>
